
{% extends "layout.html" %}

{% block pageTitle %}
  CAP demo
{% endblock %}

{% block content %}
<style>
  .govuk-table tr th:first-child {
    white-space:nowrap;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Common Alerting Protocol demo
    </h1>
    <p>
      This site contains mock ups of flood warning messages presented with <a href="https://docs.oasis-open.org/emergency/cap/v1.2/CAP-v1.2-os.html">Common Alerting Protocol (CAP)</a> information as it could be displayed on the new Flood Information Service pages on GOV.UK.
    </p> 
    <p>
      These are just examples. Not all combinations of CAP will be appropriate for the flood warning service.
    </p>
    <p>
      It is also possible to stipulate "Response" with specific actions for the incident. These should also be considered for inclusion in a CAP based flood warning service to give clear guidance on what action people should take in that specific flood incident.
    </p>  
  </div>
</div>

<h2 class="govuk-heading-l">Simple example messages</h2>

<h3 class="govuk-heading-m">Minor flooding</h3>
<ul class="govuk-list govuk-list--bullet"></ul>
  <li><a class="govuk-link" href="cap/alert/MinorPossible">Minor flooding is possible</a></li>
  <li><a class="govuk-link" href="cap/alert/MinorLikely">Minor flooding is likely</a></li>
  <li><a class="govuk-link" href="cap/alert/MinorObservedImmediate">Minor flooding is occurring</a></li>
</ul>

<h3 class="govuk-heading-m">Additional ideas flooding</h3>
<ul class="govuk-list govuk-list--bullet"></ul>
  <li><a class="govuk-link" href="cap/ur/alert">Minor flooding with advice</a></li>
  <li><a class="govuk-link" href="cap/ur/alertandheadline">Minor flooding with advice and headline</a></li>
</ul>

<h3 class="govuk-heading-m">Flooding</h3>
<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link" href="cap/warning/ModeratePossible.html">Flooding is possible</a></li>
  <li><a class="govuk-link" href="cap/warning/ModerateLikely.html">Flooding is likely</a></li>
  <li><a class="govuk-link" href="cap/warning/ModerateObservedImmediate.html">Flooding is occurring</a></li>
</ul>

<h3 class="govuk-heading-m">Severe flooding</h3>
<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link" href="cap/severe/SeverePossible.html">Severe flooding is possible</a></li>
  <li><a class="govuk-link" href="cap/severe/SevereLikely.html">Severe flooding is likely</a></li>
  <li><a class="govuk-link" href="cap/severe/SevereObservedImmediate.html">Severe flooding is occurring</a></li>
</ul>

<h2 class="govuk-heading-l">Detailed example messages</h2>

<div class="govuk-grid-row">
  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
            Minor flooding
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>This is broadly equivalent to the existing Flood Alert status. They should be issued for low impact flooding. This could be shallow flooding of roads and footpaths, or flooding of areas with little to no impact on people - such as fields or farmland.</p>
      </div>
      <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Severity</th>
              <th scope="col" class="govuk-table__header">Certainty</th>
              <th scope="col" class="govuk-table__header">Urgency</th>
              <th scope="col" class="govuk-table__header">Response</th>
              <th scope="col" class="govuk-table__header">Link</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Minor</td>
              <td class="govuk-table__cell">Possible</td>
              <td class="govuk-table__cell">Future</td>
              <td class="govuk-table__cell">-</td>
              <td><a class="govuk-link" href="cap/alert/MinorPossibleFuture">Click here</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Minor</td>
              <td class="govuk-table__cell">Possible</td>
              <td class="govuk-table__cell">Future</td>
              <td class="govuk-table__cell">Monitor</td>
              <td><a class="govuk-link" href="cap/alert/MinorPossibleFutureMonitor">Click here</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Minor</td>
              <td class="govuk-table__cell">Possible</td>
              <td class="govuk-table__cell">Future</td>
              <td class="govuk-table__cell">Avoid</td>
              <td><a class="govuk-link" href="cap/alert/MinorPossibleFutureAvoid">Click here</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Minor</td>
              <td class="govuk-table__cell">Possible</td>
              <td class="govuk-table__cell">Expected</td>
              <td class="govuk-table__cell">-</td>
              <td><a class="govuk-link" href="cap/alert/MinorPossibleExpected">Click here</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Minor</td>
              <td class="govuk-table__cell">Likely</td>
              <td class="govuk-table__cell">Future</td>
              <td class="govuk-table__cell">-</td>
              <td><a class="govuk-link" href="cap/alert/MinorLikelyFuture">Click here</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Minor</td>
              <td class="govuk-table__cell">Likely</td>
              <td class="govuk-table__cell">Expected</td>
              <td class="govuk-table__cell">-</td>
              <td><a class="govuk-link" href="cap/alert/MinorLikelyExpected">Click here</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Minor</td>
              <td class="govuk-table__cell">Likely</td>
              <td class="govuk-table__cell">Expected</td>
              <td class="govuk-table__cell">Execute</td>
              <td><a class="govuk-link" href="cap/alert/MinorLikelyExpectedExecute">Click here</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Minor</td>
              <td class="govuk-table__cell">Likely</td>
              <td class="govuk-table__cell">Immediate</td>
              <td class="govuk-table__cell">-</td>
              <td><a class="govuk-link" href="cap/alert/MinorLikelyImmediate">Click here</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Minor</td>
              <td class="govuk-table__cell">Observed</td>
              <td class="govuk-table__cell">Immediate</td>
              <td class="govuk-table__cell">-</td>
              <td><a class="govuk-link" href="cap/alert/MinorObservedImmediate">Click here</a></td>
            </tr>        
          </tbody>
        </table>
        </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
            Flooding
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>This is equivalent of Flood Warning status. They should be issued when flooding of properties is expected, or when the flooding will impact people, such as flooding of major roads or infrastructure </p>
      </div>
      <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Severity</th>
            <th scope="col" class="govuk-table__header">Certainty</th>
            <th scope="col" class="govuk-table__header">Urgency</th>
            <th scope="col" class="govuk-table__header">Response</th>
            <th scope="col" class="govuk-table__header">Link</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Moderate</td>
            <td class="govuk-table__cell">Possible</td>
            <td class="govuk-table__cell">Future</td>
            <td class="govuk-table__cell">-</td>
            <td><a class="govuk-link" href="cap/warning/ModeratePossibleFuture">Click here</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Moderate</td>
            <td class="govuk-table__cell">Possible</td>
            <td class="govuk-table__cell">Expected</td>
            <td class="govuk-table__cell">-</td>
            <td><a class="govuk-link" href="cap/warning/ModeratePossibleExpected">Click here</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Moderate</td>
            <td class="govuk-table__cell">Possible</td>
            <td class="govuk-table__cell">Expected</td>
            <td class="govuk-table__cell">Prepare</td>
            <td><a class="govuk-link" href="cap/warning/ModeratePossibleExpectedPrepare">Click here</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Moderate</td>
            <td class="govuk-table__cell">Likely</td>
            <td class="govuk-table__cell">Future</td>
            <td class="govuk-table__cell">-</td>
            <td><a class="govuk-link" href="cap/warning/ModerateLikelyFuture">Click here</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Moderate</td>
            <td class="govuk-table__cell">Likely</td>
            <td class="govuk-table__cell">Expected</td>
            <td class="govuk-table__cell">-</td>
            <td><a class="govuk-link" href="cap/warning/ModerateLikelyExpected">Click here</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Moderate</td>
            <td class="govuk-table__cell">Likely</td>
            <td class="govuk-table__cell">Expected</td>
            <td class="govuk-table__cell">Execute</td>
            <td><a class="govuk-link" href="cap/warning/ModerateLikelyExpectedExecute">Click here</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Moderate</td>
            <td class="govuk-table__cell">Likely</td>
            <td class="govuk-table__cell">Immediate</td>
            <td class="govuk-table__cell">-</td>
            <td><a class="govuk-link" href="cap/warning/ModerateLikelyImmediate">Click here</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Moderate</td>
            <td class="govuk-table__cell">Observed</td>
            <td class="govuk-table__cell">Immediate</td>
            <td class="govuk-table__cell">-</td>
            <td><a class="govuk-link" href="cap/warning/ModerateObservedImmediate">Click here</a></td>
          </tr>        
        </tbody>
      </table>
    </div>
</div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
            Severe flooding
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>This is equivalent of Severe Flood Warning status. They should be issued when there is a risk to life or significant disruption for people in that area. Flood waters may be deep or fast flowing.  Evacuations may be required and emergency services and local authorities will be heavily involved.</p>
      </div>
      <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Severity</th>
            <th scope="col" class="govuk-table__header">Certainty</th>
            <th scope="col" class="govuk-table__header">Urgency</th>
            <th scope="col" class="govuk-table__header">Response</th>
            <th scope="col" class="govuk-table__header">Link</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Severe</td>
            <td class="govuk-table__cell">Possible</td>
            <td class="govuk-table__cell">Future</td>
            <td class="govuk-table__cell">-</td>
            <td><a class="govuk-link" href="cap/severe/SeverePossibleFuture">Click here</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Severe</td>
            <td class="govuk-table__cell">Possible</td>
            <td class="govuk-table__cell">Expected</td>
            <td class="govuk-table__cell">-</td>
            <td><a class="govuk-link" href="cap/severe/SeverePossibleExpected">Click here</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Severe</td>
            <td class="govuk-table__cell">Likely</td>
            <td class="govuk-table__cell">Future</td>
            <td class="govuk-table__cell">-</td>
            <td><a class="govuk-link" href="cap/severe/SevereLikelyFuture">Click here</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Severe</td>
            <td class="govuk-table__cell">Likely</td>
            <td class="govuk-table__cell">Expected</td>
            <td class="govuk-table__cell">-</td>
            <td><a class="govuk-link" href="cap/severe/SevereLikelyExpected">Click here</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Severe</td>
            <td class="govuk-table__cell">Likely</td>
            <td class="govuk-table__cell">Expected</td>
            <td class="govuk-table__cell">Evacuate</td>
            <td><a class="govuk-link" href="cap/severe/SevereLikelyExpectedEvacuate">Click here</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Severe</td>
            <td class="govuk-table__cell">Likely</td>
            <td class="govuk-table__cell">Immediate</td>
            <td class="govuk-table__cell">-</td>
            <td><a class="govuk-link" href="cap/severe/SevereLikelyImmediate">Click here</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Severe</td>
            <td class="govuk-table__cell">Observed</td>
            <td class="govuk-table__cell">Immediate</td>
            <td class="govuk-table__cell">-</td>
            <td><a class="govuk-link" href="cap/severe/SevereObservedImmediate">Click here</a></td>
          </tr>        
        </tbody>
      </table>
    </div>
</div>
      <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
            Extreme flooding
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>This is not currently used in the flood warning service. We could use this status for exceptional events, where there is extraordinary threat to life or property. As an example, a failure of a reservoir or defence where rapid destruction of properties behind the assets is expected. </p>
      </div>
      <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Severity</th>
              <th scope="col" class="govuk-table__header">Certainty</th>
              <th scope="col" class="govuk-table__header">Urgency</th>
              <th scope="col" class="govuk-table__header">Response</th>
              <th scope="col" class="govuk-table__header">Link</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Extreme</td>
              <td class="govuk-table__cell">Possible</td>
              <td class="govuk-table__cell">Expected</td>
              <td class="govuk-table__cell">-</td>
              <td><a class="govuk-link" href="cap/extreme/ExtremePossibleExpected">Click here</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Extreme</td>
              <td class="govuk-table__cell">Likely</td>
              <td class="govuk-table__cell">Future</td>
              <td class="govuk-table__cell">-</td>
              <td><a class="govuk-link" href="cap/extreme/ExtremeLikelyFuture">Click here</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Extreme</td>
              <td class="govuk-table__cell">Likely</td>
              <td class="govuk-table__cell">Expected</td>
              <td class="govuk-table__cell">-</td>
              <td><a class="govuk-link" href="cap/extreme/ExtremeLikelyExpected">Click here</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Extreme</td>
              <td class="govuk-table__cell">Likely</td>
              <td class="govuk-table__cell">Immediate</td>
              <td class="govuk-table__cell">-</td>
              <td><a class="govuk-link" href="cap/extreme/ExtremeLikelyImmediate">Click here</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Extreme</td>
              <td class="govuk-table__cell">Observed</td>
              <td class="govuk-table__cell">Immediate</td>
              <td class="govuk-table__cell">-</td>
              <td><a class="govuk-link" href="cap/extreme/ExtremeObservedImmediate">Click here</a></td>
            </tr>        
          </tbody>
        </table>
      </div>
  </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
            No flooding expected
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>This is the equivalent of a Warning No Longer in Force status. Once flooding has subsided for any of the severities, we should issue this message.  </p>
      </div>
      <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Severity</th>
              <th scope="col" class="govuk-table__header">Certainty</th>
              <th scope="col" class="govuk-table__header">Urgency</th>
              <th scope="col" class="govuk-table__header">Response</th>
              <th scope="col" class="govuk-table__header">Link</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">None</td>
              <td class="govuk-table__cell">Observed</td>
              <td class="govuk-table__cell">Past</td>
              <td class="govuk-table__cell">AllClear</td>
              <td><a class="govuk-link" href="cap/remove/NoneObservedPast">Click here</a></td>
            </tr>       
          </tbody>
        </table>
      </div>        
    </div>
  </div>
</div>

{% endblock %}
