a.defra-link-meta {
    @extend .govuk-link;
    color: $govuk-text-colour;
    &:visited {
        // color:$govuk-link-visited-colour;
        color: $govuk-text-colour;
    }
    &:hover {
        color:$govuk-link-hover-colour;
    }
    &:active {
        color:$govuk-link-active-colour;
    }
}